<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie do książki telefonicznej</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form >
    <table>
        <tr>
            <td colspan="1">
                <input type="submit" formaction="/pokaz" value="Lista zawodników"></td>
        </tr>

        <tr>
            <td colspan="1">
                <input type="submit" formaction="/add" value="Dodaj zawodnika"></td>
        </tr>

    </table>

    </table>
</form>
</body>
</html>
